{extend name="public:base"/}
{block name="title"}面试{/block}
{block name="main"}
<div id="main" class="inner home-inner">
    <div class="job-box">
        <!--侧边信息栏-->
        {include file="personal:sider" /}
        
        <div class="user-sider-left">
            <div class="chat-history">
                <div class="job-tab">
                    <!--<a href="/personal/chat" ka="personal_top_added_0">沟通过</a>-->
                    <a href="/personal/deliver" ka="personal_top_sawme_0" >已投递</a>
                    <a href="/personal/interview" ka="personal_top_interview" class="cur">面试</a>
                    <a href="/personal/interest" ka="personal_top_interest">感兴趣</a>
                </div>
                <ul>
                    {empty name="data" }
                    <!--无职位-->
                    <div class="data-tips">
                        <div class="data-blank">
                            <i class="tip-nodata"></i><b>暂时未有邀约面试，建议尝试多与Boss沟通</b>
                            <p><a href="javascript:;" ka="personal_interview_recommend" class="btn">查看推荐职位</a></p>
                        </div>
                    </div>
                    
                    {else /}
    
                    <!--沟通过和已投递-->
                    {volist name="data" id="item" }
                    <li class="item-boss">
                        <div class="figure"><img src="{$item.hr_avatar ?? $Think.session.default.avatar}"></div>
                        <div class="item-content">
                            <div class="info-header">
                                {/*
                                <div class="btns">
                                    <a ka="personal_submitted_continue_bdacae975d756c160HV-2Nm-EA~~" href="javascript:;"
                                       class="btn btn-startchat"
                                       data-url="/gchat/addRelation.json?jobId=1f9c58be726ae9d41nxy2dW0Elc~"
                                       redirect-url="/geek/new/index/chat?id=bdacae975d756c160HV-2Nm-EA~~"
                                       target="_blank">继续沟通</a>
                                </div>
                                */}
                                <h3 class="name">{$item.hr_name}<em class="vline"></em>{$item.hr_position}</h3>
                            </div>
                            <div class="info-primary">
                                <div class="company-info">
                                    <img src="{$item.co_logo ?? $Think.session.default.logo}">
                                    <div class="text">
                                        <b>
                                            <a href="/companys/index/cid/{$item.co_id}" >{$item.co_name}</a>
                                        </b>
                                        <p class="gray">{$item.co_industry} · {$item.co_financing} · {$item.co_employees}人</p>
                                    </div>
                                </div>
                                <div class="job-info">
                                    <div class="job-name"><a href="/job/index/jid/{$item.j_id}

" >{$item.j_name}<span class="salary">{:salary2text($item.j_salary)}</span></a></div>
                                    <p class="gray">{$item.j_location}<em class="vline"></em>{$item.j_experience}<em class="vline"></em>{$item.j_degree}
                                    </p>
                                </div>
                            </div>

                        </div>
                    </li>
                    {/volist}
                    {/empty}

                </ul>
            </div>
        </div>
    </div>
</div>
<!--简历预览-->
{include file="personal:pop_resume" /}

{/block}}