{/*
<div id="pop-resume">
    <!--关闭按钮-->
    <div class="pop-resume-close">
        <img src="/static/hoem/images/pop-resume-close.png" ka="user-resume-pop-resume-close">
    </div>
    <!--正在上传-->
    <div class="pop-item pop-loading">
        <div class="content" style="height: 572px;">
            <img src="/static/hoem/images/in_upload.png" class="resume-icon">
            <p class="text">正在上传中</p>
            <img src="/static/hoem/images/loading.gif" class="pop-loading-pic">
        </div>
        <div class="des">
            <h4>上传简历</h4>
            <div class="resume-title"></div>
            <p>附件简历将在投递后被Boss预览查看，请 确认显示正确（预览只展示前10页）</p>
        </div>
    </div>
    <!--上传成功 预览-->
    <div class="pop-item pop-success">
        <div class="content" style="background: none; overflow-y: auto; overflow-x: hidden; height: 672px;">
            <img src="https://www.zhipin.com/geek/tag/deliver/?ka=personal_top_sawme_0" class="resume-pic">
        </div>
        <div class="des">
            <h4>上传简历</h4>
            <div class="resume-title"></div>
            <p>附件简历将在投递后被Boss预览查看，请 确认显示正确（预览只展示前10页）</p>
            <div class="btn btn-confim" ka="user-resume-save">确定</div>
            <div class="btn btn-change" ka="user-resume-edit-upload">更改附件简历</div>
        </div>
    </div>
    <!--上传失败-->
    <div class="pop-item pop-fail">
        <div class="content" style="height: 572px;">
            <img src="/static/hoem/images/upload-fail.png" class="resume-icon">
            <div class="title upload-fail">上传失败</div>
            <p class="msg">请重新上传，如仍然无法成功，可尝试更改文件格式</p>
        </div>
        <div class="des">
            <h4>上传简历</h4>
            <div class="resume-title"></div>
            <p>附件简历将在投递后被Boss预览查看，请 确认显示正确（预览只展示前10页）</p>
            <div class="btn upload-again" ka="user-resume-upload-fail-reupload">重新上传</div>
            <p>支持doc，docx，pdf，jpg，png格式附件，文件大小不超过10M</p>
        </div>
    </div>
    <!--预览失败-->
    <div class="pop-item preview-fail">
        <div class="content" style="height: 572px;">
            <img src="/static/hoem/images/upload-fail.png" class="resume-icon">
            <div class="title preview-fail">预览失败</div>
            <div class="msg">点击<a href="javascript:;" class="preview-refresh" ka="user-resume-refresh">刷新</a>重新预览</div>
            <img src="/static/hoem/images/loading.gif" class="resume-loading" style="display: none;">
        </div>
        <div class="des">
            <h4>上传简历</h4>
            <div class="resume-title"></div>
            <p>附件简历将在投递后被Boss预览查看，请 确认显示正确（预览只展示前10页）</p>
            <div class="btn upload-again" ka="user-resume-preview-fail-reupload">重新上传</div>
            <p>支持doc，docx，pdf，jpg，png格式附件，文件大小不超过10M</p>
        </div>
    </div>
</div>
*/}