<div class="sider" id="async-sider">
    
    <!--<div class="userinfo-box">
        <a href="javascript:;

" class="edit-userinfo" ka="base_info_edit">编辑</a>
        <div class="headbox">
            <div class="sex man"></div>
            <img src="{$Think.session.user.avatar?? $Think.session.default.avatar}"
                 class="headimg" alt="">
        </div>
        <div class="username">邓华杰</div>
        <div class="userinfo">25岁<i class="vline"></i>1年以内 <i class="vline"></i> 大专</div>
        <div class="now-state">
            <div class="dropdown-wrap">
            <span class="dropdown-select">
                <input type="text" value="在职-暂不考虑" ka="base_info_status_from_1" class="ipt" readonly="">
                <i class="icon-select-arrow"></i>
                <div class="dropdown-menu">
                    <ul>
                        <li data-val="0" ka="base_info_status_to_0">离职-随时到岗</li>
                        <li data-val="1" ka="base_info_status_to_1">在职-暂不考虑</li>
                        <li data-val="2" ka="base_info_status_to_2">在职-考虑机会</li>
                        <li data-val="3" ka="base_info_status_to_3">离职-月内到岗</li>
                    </ul>
                </div>
            </span>
            </div>
        </div>
        <div class="user-stat">
            <a href="javascript:;

" ka="personal_added_2"><span><b>2</b>沟通过</span></a>
            <a href="javascript:;

" ka="personal_submitted_1"><span><b>1</b>已投递</span></a>
            <a href="javascript:;

" ka="personal_interview_0"><span><b>0</b>面试</span></a>
            <a href="javascript:;

" ka="personal_interest_2"><span><b>2</b>感兴趣</span></a>
        </div>
    </div>-->
    
    <div class="promotion-img">
        <a href="javascript:;

" target="_blank" ka="rcmd-list-personality"><img src="/static/home/images/20180421-01.jpg" alt=""></a>
    </div>
    
    <!--
    <div class="sider-resume">
        <div class="resume-attachment">
            <h3 class="title">附件简历
                <div class="resume-menu">
                    <i></i><i></i><i></i>
                    <div class="resume-menu-box">
                        <div class="menu-btn">
                            <div class="upload-op">
                                <i class="change">更新</i>
                                <a class="btn-upload-file"><input id="fileupload" type="file" name="file"
                                                                  accept="image/jpeg,image/png,application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"></a>
                            </div>
                        </div>
                        <div class="menu-btn">
                            <a href="javascript:;

" ka="user-resume-download-submit">下载</a>
                        </div>
                        <div class="menu-btn">
                            <i class="resume-del">删除</i>
                        </div>
                    </div>
                </div>
            </h3>
            <div class="loadresume"><span class="file-name">邓华杰-简历2.docx</span></div>
            <div class="upd-time">
                2018.04.29 上传
            </div>
        </div>
        <div class="resume-attachment">
            <h3 class="title">在线简历
                <div class="upload-op"><a href="javascript:;

" ka="resume_edit" class="edit">编辑</a></div>
            </h3>
            <div class="upd-time">2018.04.22 更新</div>
        </div>
    </div>
    -->
    
    <div class="sider-recommend">
        <ul>
            <li><a href="javascript:;

" ka="personal_interestme_0">对我感兴趣</a></li>
            <li class="last"><a href="javascript:;

" ka="personal_sawme_0">看过我</a></li>
        </ul>
    </div>
    <!--
    <div class="promotion-img nomargin"><a href="#"><img src="/v2/web/geek/images/promotion-1.png" alt="" /></a></div>
    <div class="promotion-img"><a href="#"><img src="/v2/web/geek/images/promotion-1.png" alt="" /></a></div>
    -->
</div>
