{extend name="AdminPublic:public"/}
{block name="title"}消息添加{/block}
{block name="admin"}
<script  charset="utf-8" src="/static/admins/ueditor/ueditor.config.js"></script>
<script  charset="utf-8" src="/static/admins/ueditor/ueditor.all.min.js"> </script>
<script  charset="utf-8" src="/static/admins/ueditor/lang/zh-cn/zh-cn.js"></script>

  <div class="mws-panel grid_8">
  <div class="mws-panel-header">
    <span>消息添加</span>
  </div>
  <div class="mws-panel-body no-padding">
    <form class="mws-form" action="/message/insert" method="post" enctype="multipart/form-data">
      <div class="mws-form-inline">
        <div class="mws-form-row">
          <label class="mws-form-label">标题:</label>
          <div class="mws-form-item">
            <input type="text" class="large" name="title" minlength="2" maxlength="30" required>
          </div>
        </div>
        
        <div class="mws-form-row">
          <label class="mws-form-label">内容:</label>
          <div class="mws-form-item">
              <!--因script标签中带有样式属性,语法检查报错-->
            <script id="editor" type="text/plain"  name="content" style="width:100%;height:500px;"></script>
          </div>
        </div>

      </div>
      <div class="mws-button-row">
                {//  <-- 当前仅能添加系统消息, 后期可改为可选的各种消息组别选项 -->}
        <input name="scope" type="hidden" value="3">
        <input type="submit" value="添加" class="btn btn-danger">
        <input type="reset" value="Reset" class="btn ">
            
            </div>
    </form>
  </div>
</div>

<script >
//               var ue = UE.getEditor('editor');
          
               var ue = UE.getEditor('editor',{
                   toolbars: [
                       ['fullscreen', 'source', 'undo', 'redo'],
                       ['bold', 'italic', 'underline', 'fontborder', 'strikethrough', 'superscript', 'subscript', 'removeformat', 'formatmatch', 'autotypeset', 'blockquote', 'pasteplain', '|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist', 'selectall', 'cleardoc']
                   ]
               });
</script>
{/block}
