{extend name="AdminPublic:public"/}
{block name="title"}消息详情{/block}
{block name="admin"}
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span>消息详情</span>
    </div>
    <div class="mws-panel-body no-padding">
        <form class="mws-form">
            <div class="mws-form-inline">
                <div class="mws-form-row">
                    <label class="mws-form-label">标题:</label>
                    <div class="mws-form-item">
                        {$msg.title}
                    </div>
                </div>
                
                <div class="mws-form-row">
                    <label class="mws-form-label">内容:</label>
                    <div class="mws-form-item">
                        {$msg.content}
                    </div>
                </div>
            
            </div>
            <div class="mws-button-row">
                <a href="{$url}" class="btn btn-danger">返回</a>
            </div>
        </form>
    </div>
</div>

{/block}
