{extend name="adminpublic:public"/}
{block name="title"}运行状态{/block}
{block name="admin"}

<!--管理员登录信息-->
<div class="mws-panel grid_2">
    <div class="mws-panel-header">
        <span>管理员</span>
    </div>
    <div class="mws-panel-body no-padding">
        <ul class="mws-summary ">
            <li>
                <span class="key"> 管理员账号</span>
                <span class="val">
                                    <span class="text-nowrap">{$username}</span>
                                </span>
            </li>
            <li>
                <span class="key"> 所属权限组</span>
                <span class="val">
                                    <span class="text-nowrap">{$group}</span>
                                </span>
            </li>
            <li>
                <span class="key">当前登录IP</span>
                <span class="val">
                                    <span class="text-nowrap">{$cur_ip}</span>
                                </span>
            </li>
            <li>
                <span class="key">上次登录IP</span>
                <span class="val">
                                    <span class="text-nowrap">{$last_ip}</span>
                                </span>
            </li>
            <li>
                <span class="key">上次登录时间</span>
                <span class="val">
                                    <span class="text-nowrap">{:date('Y-m-d H:i:s',$last_time)}</span>
                                </span>
            </li>
            <li>
                <span class="key">第几次登录</span>
                <span class="val">
                                    <span class="text-nowrap">{$count}</span>
                                </span>
            </li>
        </ul>
    </div>
</div>
<!--服务器状态-->
<div class="mws-panel grid_2">
    <div class="mws-panel-header">
        <span>服务器</span>
    </div>
    <div class="mws-panel-body no-padding">
        <ul class="mws-summary ">
            <li>
                <span class="key"> 主机名</span>
                <span class="val">
                                    <span class="text-nowrap">{$server_name}</span>
                                </span>
            </li>
            <li>
                <span class="key"> 服务器标识字符串</span>
                <span class="val">
                                    <span class="text-nowrap">{$server_software}</span>
                                </span>
            </li>
        
        </ul>
    </div>
</div>
<!--前台运行状态-->
<div class="mws-panel grid_2">
    <div class="mws-panel-header">
        <span>前台</span>
    </div>
    <div class="mws-panel-body no-padding">
        <ul class="mws-summary ">
            <li>
                <span class="key"> 总用户数</span>
                <span class="val">
                                    <span class="text-nowrap">{$total_user}</span>
                                </span>
            </li>
            <li>
                <span class="key">今日新用户数</span>
                <span class="val">
                                    <span class="text-nowrap">{$new_user}</span>
                                </span>
            </li>
            <li>
                <span class="key">总招聘数</span>
                <span class="val">
                                    <span class="text-nowrap">{$total_job}</span>
                                </span>
            </li>
            <li>
                <span class="key">今日发布招聘数</span>
                <span class="val">
                                    <span class="text-nowrap">{$new_job}</span>
                                </span>
            </li>
           
        </ul>
    </div>
</div>
<!--登录管理员拥有的权限-->
<div class="mws-panel grid_1">
    <div class="mws-panel-header">
        <span>拥有权限</span>
    </div>
    <div class="mws-panel-body no-padding">
        <ul class="mws-summary ">
            {volist name="$Think.session.admin.node" id="item" }
            <li>
                <span class="val"> {$item.name}</span>
            </li>
            {/volist}
        </ul>
    </div>
</div>

{/block}
