{extend name="AdminPublic:public"/}
{block name="admin"}
<div class="mws-panel grid_8">
 <div class="mws-panel-header">
  <script type="text/javascript" src="/static/admins/jquery-1.8.3.min.js"></script>
  <span>
      <i class="icon-table"></i>公告列表</span>
 </div>
 <div class="mws-panel-body no-padding">
  <div id="DataTables_Table_1_wrapper" class="dataTables_wrapper" role="grid">
   <div id="uid">
    <table class="mws-datatable-fn mws-table dataTable" id="DataTables_Table_1" aria-describedby="DataTables_Table_1_info">
     <thead>
     <tr role="row">
      <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 100px;">ID</th>
      <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 137px;">标题</th>
      <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 124px;">内容</th>
      <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 85px;">图片</th>
      <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 60px;">操作</th>
     </tr>
     </thead>
     <tbody role="alert" aria-live="polite" aria-relevant="all">
     {foreach name="user" item="rows"}
     <tr class="odd">
      <td class="  sorting_1">{$rows['id']}</td>
      <td class=" ">{$rows['title']}</td>
      <td class=" ">{$rows['descr']}</td>
      <td class=" "><img src="{$rows['pic']}"></td>
      <td class=" "><a href="/articles/delete/id/{$rows['id']}" class="btn btn-success">删除</a><a href="/articles/edit/id/{$rows['id']}" class="btn btn-info">修改</a></td>
     </tr>
     {/foreach}
     </tbody>
    </table>
   </div>
   <!--分页-->
   <div class="dataTables_paginate paging_full_numbers" id="pages">
    {$user->appends($data)->render()}
   </div>
  </div>
 </div>
</div>

{/block}
{block name="title"}后台公告列表{/block}