
<div class="slider-box">
    <div class="promotion-main company-sider" >
        <div class="m-carousel" style="height: 400px;width: 100%;">
        
            <ul class="carousel-main">
                <li class="cur" >
                    <a href="#">
                        <img src="/static/home/images/tip-errordata.png" alt="">
                    </a>
                </li>
                <li class="" >
                    <a href="#">
                        <img src="/static/home/images/tip-nodata.png" alt="">
                    </a>
                </li>
                <li class="" >
                    <a href="#">
                        <img src="/static/home/images/tip-errordata.png" alt="">
                    </a>
                </li>
            </ul>
        
            <!--上一个、下一个按钮-->
            <a href="javascript:;" class="btn-direction  prev"></a>
            <a href="javascript:;" class="btn-direction  next"></a>
            <!--导航-->
            <div class="carousel-dot">
            </div>
        </div>
    
        <!-- 广告位 -->
        <div class="h1z1">
            <a href="/companyindex/id/{$ad[0]['co_id']}"><img src="{$ad[0]['bg']}" alt="" style="width: 353px;height:110px;"></a>
        </div>
        <div class="h1z1_h">
            <a href="/companyindex/id/{$ad[1]['co_id']}"><img src="{$ad[1]['bg']}" alt="" style="width: 353px;height:110px;"></a>
        </div>
        <!-- /广告位 -->

    </div>
</div>
