<div class="slider-box">
    <div class="promotion-main">
        <table width="589" style="width: 515px;" data-sort="sortDisabled">
            <tbody>
            <tr class="firstRow">
                <td valign="top" style="-ms-word-break: break-all;" rowspan="2" colspan="2"><a
                        href="https://www.zhipin.com/activity/custom/salarytime2/index.html?sid=web_banner_xtdej0409&amp;shid=web_banner_xtdej0409"
                        target="_blank" ka="banner-promotion-activity-xtdej0409"><img
                        src="/static/home/images/5edab9906725a7c5d904d37e45d5a524.jpg"></a></td>
                <td width="181" valign="top" style="-ms-word-break: break-all;" rowspan="2" colspan="1">
                    <a href="https://www.zhipin.com/gongsi/45045.html?ka=Banner-promotion-266844"
                       target="_blank" ka="Banner-promotion-45045"><img
                            src="/static/home/images/623356e2aab21d123f5d80dfc2ef13a3.jpg"></a><a
                        href="https://www.zhipin.com/gongsi/252582.html?ka=company-intro"
                        target="_blank" ka="Banner-promotion-252582"></a></td>
            </tr>
            <tr></tr>
            <tr>
                <td width="181" valign="top" style="-ms-word-break: break-all;"><a
                        href="https://www.zhipin.com/gongsi/252582.html?ka=company-intro"
                        target="_blank" ka="Banner-promotion-252582"><img
                        src="/static/home/images/a2e8365599efd32fe63ab33b9d522ac4.jpg"></a></td>
                <td width="181" valign="top" style="-ms-word-break: break-all;"><a
                        href="https://www.zhipin.com/gongsi/21810.html?ka=search_list_company_1"
                        target="_blank" ka="21810"><img
                        src="/static/home/images/be47c1f6214cf15a173cee91535e9513.jpg"></a></td>
                <td width="181" valign="top" style="-ms-word-break: break-all;"><a
                        href="https://www.zhipin.com/gongsi/642.html?ka=search_list_company_1_custompage"
                        target="_blank" ka="Banner-promotion-642"><img
                        src="/static/home/images/3f608c90fb8b736e4c8db27f0b2ff2c1.jpg"></a></td>
            </tr>
            <tr>
                <td valign="top" style="-ms-word-break: break-all;" rowspan="1" colspan="2"><a
                        href="https://www.zhipin.com/activity/custom/vienna/index.html?sid=web_banner_wyn1208&amp;shid=web_banner_wyn1208"
                        target="_blank" ka="banner-promotion-activity-weiyena1208"><img
                        src="/static/home/images/23ed7c68e732a3f2277a9d823479fe25.png"></a></td>
                <td width="181" valign="top" style="-ms-word-break: break-all;"><a
                        href="https://www.zhipin.com/gongsi/252178.html?ka=search_list_company_10_custompage"
                        target="_blank" ka="Banner-promotion-252178"><img
                        src="/static/home/images/dfaef4fe16034643cf834e49d5dd2763.jpg"></a></td>
            </tr>
            </tbody>
        </table>
    
    
    </div>
</div>
