<div class="slider-box">
    <div class="promotion-main company-sider">
        <!--轮播-->
        <div class="m-carousel" style="height: 330px;width: 100%;margin-bottom: 3px;">
            <ul class="carousel-main">
                {volist name="env" id="item" }
                <li class="" style="opacity: 0;">
                    <a href="/companys/index/cid/{$item['co_id']}">
                        <img src="{$item['bg']}" alt="{$item['name']}">
                    </a>
                </li>
                {/volist}
            </ul>
            
            <!--上一个、下一个按钮-->
            <a href="javascript:;" class="btn-direction  prev"></a>
            <a href="javascript:;" class="btn-direction  next"></a>
            <!--导航-->
            <div class="carousel-dot">
            </div>
        </div>
        <!--/轮播-->
    
        <!-- 广告位 -->
        {volist name="ad" id="it" }
        <div class="h1z1">
            <a href="/companys/index/cid/{$it['co_id']}">
                <img src="{$it['bg']}" alt="{$it['name']}" style="width: 353px;height:110px;">
            </a>
        </div>
        {/volist}
        <!-- /广告位 -->
    
    </div>
</div>
