<div class="search-box sub">
    <div class="search-form ">
        <form action="/search/index/" method="get" class="">            <div class="search-form-con">
                <div class="city-sel">
                    <i class="line"></i>
                    <span class="label-text"><b>深圳</b><i class="icon-arrow-down"></i></span>
                </div>
                <div class="industry-sel" ka="search_bos_sel_industry">
                    <i class="line"></i>
                    <span class="label-text"><b>行业不限</b><i class="icon-arrow-down"></i></span>
                </div>
                <div class="position-sel" ka="search_box_sel_jobtype">
                    <i class="line"></i>
                    <span class="label-text"><b>职位类型不限</b><i class="icon-arrow-down"></i></span>
                </div>
                <p class="ipt-wrap">
                    <input type="text" name="query" class="ipt-search" autocomplete="off" maxlength="50" placeholder="搜索职位、公司">
                </p>
            </div>
            
            <input type="hidden" name="scity" class="city-code" value="101280600">
            <input type="hidden" name="industry" class="industry-code" value="">
            <input type="hidden" name="position" class="position-code" value="">
            <button class="btn btn-search">搜索</button>
    
            {include file="search:city_box" }
            {include file="search:industry_box" }
            {include file="search:position_box" }

        </form>
    </div>
    
    <!--热门职位-->
    <div class="search-hot">
        <b>热门职位:</b>
        <a href="javascript:;" ka="hot-position-1">Java</a>
        <a href="javascript:;" ka="hot-position-2">PHP</a>
        <a href="javascript:;" ka="hot-position-3">C++</a>
        <a href="javascript:;" ka="hot-position-4">web前端</a>
        <a href="javascript:;" ka="hot-position-5">iOS</a>
        <a href="javascript:;" ka="hot-position-6">Android</a>
        <a href="javascript:;" ka="hot-position-7">产品经理</a>
        <a href="javascript:;" ka="hot-position-8">UI设计师</a>
        <a href="javascript:;" ka="hot-position-9">产品运营</a>
    </div>
</div>
