<div class="job-menu">
    {volist name="cate" id="item1" length="12"}
    <dl class="">
       
        <dd>
            <i class="icon-arrow-right"></i>
            <a href="/search/index/jobtype/{$item1['id']}">{$item1['name']}</a>
        </dd>
       
        <div class="menu-line"></div>
        <div class="menu-sub">
            {volist name="$item1.children" id="item2"}
    
            <ul>
                
                <li>
                    <h4>{$item2['name']}</h4>
                    <div class="text">
                        {volist name="$item2.children" id="item3"}
    
                        <a href="/search/index/jobtype/{$item3['id']}">{$item3['name']}</a>
    
                        {/volist}

                    </div>
                </li>
            </ul>
            {/volist}

        </div>
       
    </dl>
    {/volist}
    

    <div class="show-all" style="display: block;">
        显示全部职位
    </div>
    
    
    <div class="all-box" style="display: none;">
    
        {volist name="cate" id="item1" offset="12"}
    
        <dl>
            <dd>
                <i class="icon-arrow-right"></i>
                <a href="/search/index/jobtype/{$item1['id']}">{$item1['name']}</a>
            </dd>
            <div class="menu-line"></div>
            <div class="menu-sub">
                <ul>
                    {volist name="$item1.children" id="item2"}
                    
                    <li>
                        <h4>{$item2['name']}</h4>
                        <div class="text">
                            {volist name="$item2.children" id="item3"}
                            <a href="/search/index/jobtype/{$item3['id']}">{$item3['name']}</a>
                            {/volist}
    
                        </div>
                    </li>
                    {/volist}
                </ul>
            </div>
        </dl>
        {/volist}
        
    
    </div>
</div>
