{extend name="public:base"/}
{block name="title"}首页{/block}
{block name="main"}
<!--主体main-->
<div id="main" class="inner home-inner">
    <div class="home-box">
        <div class="home-sider">
            <!-- 左侧职位选择 -->
            {include file="index/index_jobmenu" /}
        </div>
        <div class="home-main">
            <!--搜索框-->
            {include file="index/index_searchbox" /}
            <!--主推文案-->
            {include file="index/index_sliderbox" /}
        </div>
        <!--职位tab列表-->
        {include file="index/index_jobtab" /}
        <!--公司tab列表-->
        {include file="index/index_companytab" /}
        <!-- 热招城市 -->
        {include file="index/index_hotcitytab" /}
    </div>
</div>
{/block}