<div class="common-tab-box hotcity-tab-box clearfix">
    <h3><span class="cur">城市热招</span></h3>
    <ul class="cur">
        
        <li>
            <a href="/search/index/?scity=101010100" ka="index_rcmd_city_1">
                <img src="/static/home/images/city_101010100.png" alt="">
                <div class="model"></div>
            </a>
        </li>
        
        <li>
            <a href="/search/index/?scity=101020100" ka="index_rcmd_city_2">
                <img src="/static/home/images/city_101020100.png" alt="">
                <div class="model"></div>
            </a>
        </li>
        
        <li>
            <a href="/search/index/?scity=101030100" ka="index_rcmd_city_3">
                <img src="/static/home/images/city_101030100.png" alt="">
                <div class="model"></div>
            </a>
        </li>
        
        <li>
            <a href="/search/index/?scity=101110100" ka="index_rcmd_city_4">
                <img src="/static/home/images/city_101110100.png" alt="">
                <div class="model"></div>
            </a>
        </li>
        
        <li>
            <a href="/search/index/?scity=101190400" ka="index_rcmd_city_5">
                <img src="/static/home/images/city_101190400.png" alt="">
                <div class="model"></div>
            </a>
        </li>
        
        <li>
            <a href="/search/index/?scity=101200100" ka="index_rcmd_city_6">
                <img src="/static/home/images/city_101200100.png" alt="">
                <div class="model"></div>
            </a>
        </li>
        
        <li>
            <a href="/search/index/?scity=101210100" ka="index_rcmd_city_7">
                <img src="/static/home/images/city_101210100.png" alt="">
                <div class="model"></div>
            </a>
        </li>
        
        <li>
            <a href="/search/index/?scity=101230200" ka="index_rcmd_city_8">
                <img src="/static/home/images/city_101230200.png" alt="">
                <div class="model"></div>
            </a>
        </li>
        
        <li>
            <a href="/search/index/?scity=101250100" ka="index_rcmd_city_9">
                <img src="/static/home/images/city_101250100.png" alt="">
                <div class="model"></div>
            </a>
        </li>
        
        <li>
            <a href="/search/index/?scity=101270100" ka="index_rcmd_city_10">
                <img src="/static/home/images/city_101270100.png" alt="">
                <div class="model"></div>
            </a>
        </li>
        
        <li>
            <a href="/search/index/?scity=101280100" ka="index_rcmd_city_11">
                <img src="/static/home/images/city_101280100.png" alt="">
                <div class="model"></div>
            </a>
        </li>
        
        <li>
            <a href="/search/index/?scity=101280600" ka="index_rcmd_city_12">
                <img src="/static/home/images/city_101280600.png" alt="">
                <div class="model"></div>
            </a>
        </li>
    
    </ul>
</div>
