<div class="search-box sub">
    {include file="search:search_form"}
    
    <!--热门职位-->
    <div class="search-hot">
        <b>热门职位:</b>
        <a href="javascript:;" ka="hot-position-1">Java</a>
        <a href="javascript:;" ka="hot-position-2">PHP</a>
        <a href="javascript:;" ka="hot-position-3">C++</a>
        <a href="javascript:;" ka="hot-position-4">web前端</a>
        <a href="javascript:;" ka="hot-position-5">iOS</a>
        <a href="javascript:;" ka="hot-position-6">Android</a>
        <a href="javascript:;" ka="hot-position-7">产品经理</a>
        <a href="javascript:;" ka="hot-position-8">UI设计师</a>
        <a href="javascript:;" ka="hot-position-9">产品运营</a>
    </div>
</div>
