<div class="industry-box">
                        <ul>
                            <li data-val=""><a href="javascript:;">不限</a></li>
                            <li data-val="100001" ka="sel-industry-1"><a href="javascript:;">电子商务</a></li>
                            <li data-val="100002" ka="sel-industry-2"><a href="javascript:;">游戏</a></li>
                            <li data-val="100003" ka="sel-industry-3"><a href="javascript:;">媒体</a></li>
                            <li data-val="100004" ka="sel-industry-4"><a href="javascript:;">广告营销</a></li>
                            <li data-val="100005" ka="sel-industry-5"><a href="javascript:;">数据服务</a></li>
                            <li data-val="100006" ka="sel-industry-6"><a href="javascript:;">医疗健康</a></li>
                            <li data-val="100007" ka="sel-industry-7"><a href="javascript:;">生活服务</a></li>
                            <li data-val="100008" ka="sel-industry-8"><a href="javascript:;">O2O</a></li>
                            <li data-val="100009" ka="sel-industry-9"><a href="javascript:;">旅游</a></li>
                            <li data-val="100010" ka="sel-industry-10"><a href="javascript:;">分类信息</a></li>
                            <li data-val="100011" ka="sel-industry-11"><a href="javascript:;">音乐/视频/阅读</a></li>
                            <li data-val="100012" ka="sel-industry-12"><a href="javascript:;">在线教育</a></li>
                            <li data-val="100013" ka="sel-industry-13"><a href="javascript:;">社交网络</a></li>
                            <li data-val="100014" ka="sel-industry-14"><a href="javascript:;">人力资源服务</a></li>
                            <li data-val="100015" ka="sel-industry-15"><a href="javascript:;">企业服务</a></li>
                            <li data-val="100016" ka="sel-industry-16"><a href="javascript:;">信息安全</a></li>
                            <li data-val="100018" ka="sel-industry-17"><a href="javascript:;">智能硬件</a></li>
                            <li data-val="100019" ka="sel-industry-18"><a href="javascript:;">移动互联网</a></li>
                            <li data-val="100020" ka="sel-industry-19"><a href="javascript:;">互联网</a></li>
                            <li data-val="100021" ka="sel-industry-20"><a href="javascript:;">计算机软件</a></li>
                            <li data-val="100024" ka="sel-industry-21"><a href="javascript:;">通信/网络设备</a></li>
                            <li data-val="100101" ka="sel-industry-22"><a href="javascript:;">广告/公关/会展</a></li>
                            <li data-val="100206" ka="sel-industry-23"><a href="javascript:;">互联网金融</a></li>
                            <li data-val="100502" ka="sel-industry-24"><a href="javascript:;">物流/仓储</a></li>
                            <li data-val="100504" ka="sel-industry-25"><a href="javascript:;">贸易/进出口</a></li>
                            <li data-val="100601" ka="sel-industry-26"><a href="javascript:;">咨询</a></li>
                            <li data-val="100702" ka="sel-industry-27"><a href="javascript:;">工程施工</a></li>
                            <li data-val="100801" ka="sel-industry-28"><a href="javascript:;">汽车生产</a></li>
                            <li data-val="101304" ka="sel-industry-29"><a href="javascript:;">其他行业</a></li>
                        </ul>
                    </div>