<h3 class="title">教育经历
    <div class="op">
        <a href="javascript:;" data-url= ka="user-resume-add-eduexp" class="link-add" data-action="/employee/resumeEducationAdd" data-func="func-add">
            <i class="fz-resume fz-add"></i>添加
        </a>
    </div>
</h3>
<div class="history-education">
    {volist name="edu" id="item"}
    <div class="history-item" id="row-846a940cfc2fe5551nZ539u8EFs~">
        <div class="op">
            <a href="javascript:;" data-url=""
               ka="user-resume-edit-eduexp1" class="link-edit" data-action="/employee/resumeEducationEdit" data-func="func-edit" data-id="{$item.ed_id}">
                <i class="fz-resume fz-edit"  ></i>编辑
            </a>
            
            <em class="vline"></em>
            <a href="javascript:;" data-url=""
               ka="user-resume-del-eduexp1" class="link-delete" data-action="/employee/resumeEducationDelete" data-func="func-delete" data-id="{$item.ed_id}">
                <i class="fz-resume fz-delete" ></i>删除
            </a>
        
        </div>
        <span class="period">{$item.ed_startdate}-{$item.ed_enddate}</span>
        <h4 class="name">{$item.ed_school}</h4>
        <div class="text">
            <h4>{$item.ed_subject}<em class="vline"></em>{$item.ed_degree}</h4>
            <p>{$item.ed_experience??''}</p>
        </div>
    </div>
    {/volist}
</div>
                