<h3 class="title">
    工作经历
    <div class="op">
        <a data-url="" href="javascript:;" ka="user-resume-add-workexp"
           class="link-add" data-action="/employee/resumeHistoryAdd" data-func="func-add">
            <i class="fz-resume fz-add"></i>添加
        </a>
    </div>
</h3>
<div class="history-project">
    
    {volist name="his" id="item"}
    <div class="history-item" >
        <div class="op">
            <a href="javascript:;" data-url=""
               ka="user-resume-edit-workexp1" class="link-edit" data-action="/employee/resumeHistoryEdit" data-func="func-edit" data-id="{$item.hi_id}">
                <i class="fz-resume fz-edit"></i>编辑
            </a>
            
            <em class="vline"></em>
            <a href="javascript:;" data-url=""
               ka="user-resume-del-workexp1" class="link-delete" data-action="/employee/resumeHistoryDelete" data-func="func-delete" data-id="{$item.hi_id}">
                <i class="fz-resume fz-delete"></i>删除
            </a>
        </div>
        <span class="period">{$item.hi_startdate}-{$item.hi_enddate}</span>
        {//公司名}
        <h4 class="name">{$item.hi_company}</h4>
        <div class="text">
            {//职业名称}
            <h4>{$item.hi_position}</h4>
            <div class="text">
                {//工作内容}
                <h4>{$item.hi_work}</h4>
                {//工作业绩}
                <p>{$item.hi_results}</p>
            </div>
        </div>
    </div>
    {/volist}
</div>

