{extend name="adminpublic:public"/}

{block name="admin"}
<div class="container">
    
    <div class="mws-panel-body no-padding">
        <form class="mws-form" action="/permissions/roleinsert" method="post">
            <div class="mws-form-inline">
                <div class="mws-form-row">
                    <div >
                        <ul class="mws-form-list inline">
                            {foreach name="role" item="row"}
                            {empty name="$rids" }
    
                            <li><input type="checkbox" value="{$row['id']}" class="checkbox" name="name[]" > <label>{$row['name']}</label></li>
    
                            {else/}
                            
                            <li><input type="checkbox" value="{$row['id']}" class="checkbox" name="name[]" {if condition="in_array($row['id'],$rids)"}checked{/if}> <label>{$row['name']}</label></li>
    
                            {/empty}
                            
                            {/foreach}
                            
                        </ul>
                        <button type="button" class="kfc">全选</button>
                        <button type="button" class="kfc">全不选</button>
                        <button type="button" class="kfc">反选</button>
                    </div>
                </div>
            </div>
            <div class="mws-button-row">
                <input type="hidden" name="id" value="{$info['id']}">
                <input value="分配角色" class="btn btn-danger" type="submit">
                <a href="/permissions/permissions"><input value="返回" class="btn " type="button"></a>
            </div>
        </form>
    </div>
    
    
    <!-- Panels End -->
</div>
{/block}
{block name="title"}后台角色分配{/block}