{extend name="AdminPublic:public"/}
{block name="admin"}
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span><i class="icon-table"></i> 权限点列表</span>
    </div>
    <div class="mws-panel-body no-padding">
        <div id="DataTables_Table_1_wrapper" class="dataTables_wrapper" role="grid">
            <form action="/adminuser/index" method="get">
                <div class="dataTables_filter" id="DataTables_Table_1_filter">
                
                </div>
            </form>
            <table class="mws-datatable-fn mws-table dataTable" id="DataTables_Table_1" aria-describedby="DataTables_Table_1_info">
                <thead>
                <tr role="row">
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 113px;">ID</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 113px;">权限名</th>
                    <!--<th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 169px;">密码</th>-->
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 113px;">状态</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 113px;">操作</th>
                </tr>
                </thead>
                <tbody role="alert" aria-live="polite" aria-relevant="all">
                {foreach name="role" item="row"}
                <tr class="odd">
                    <td class=" sorting_1">{$row['id']}</td>
                    <td class=" ">{$row['name']}</td>
                    <td class=" ">
                        {if condition="$row['status'] == 1"} 可用
                        {elseif condition="$row['status']==2"/}禁用
                        {else /} 禁用
                        {/if}
                    </td>
                    <td class=" "><a href="/permissions/roleedit/id/{$row['id']}" class="btn btn-info">修改</a></td>
                </tr>
                {/foreach}
                </tbody>
            </table>
            <!--分页-->

        </div>
    </div>
</div>
{/block}
{block name="title"}后台用户列表{/bolic}
