{extend name="adminpublic:public"/}

{block name="admin"}
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span>权限修改</span></div>
    <div class="mws-panel-body no-padding">
        <form class="mws-form" action="/permissions/roleupdate" method="post">
            <div class="mws-form-inline">
                <div class="mws-form-row">
                    <label class="mws-form-label">权限名称</label>
                    <div class="mws-form-item">
                        <input type="text" class="large" name="name" value="{$info['name']}" ></div>

                </div>
                
            
            </div>
            <div class="mws-button-row">
                <input type="hidden" name="id" value="{$info['id']}">
                <input type="submit" value="修改" class="btn btn-danger">
                <input type="reset" value="Reset" class="btn "></div>
        </form>
    </div>
</div>
{/block}
{block name="title"}后台用户修改{/block}