<!--搜索框实时从数据库拿目录时用这个,否则用静态目录-->
<ul class="category category-1">
    {volist name="category" id="item1" }
    <li data-jobtype="{$item1['id']}">
        <a href="javascript:;">{$item1['name']}</a>
        <ul class="category category-2">
            {volist name="$item1.children" id="item2"}
            <li data-jobtype="{$item2['id']}">
                <a href="javascript:;">{$item2['name']}</a>
                <ul class="category category-3">
                    {volist name="$item2.children" id="item3"}
                    <li data-jobtype="{$item3['id']}">
                        <a href="/search/index/jobtype/{$item3['id']}">{$item3['name']}</a>
                    </li>
                    {/volist}
                </ul>
            </li>
            {/volist}
        </ul>
    </li>
    {/volist}
</ul>