<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/static/home/css/main.css" type="text/css" rel="stylesheet">

</head>
<body>
<form action="https://signup.zhipin.com/registe/save.json" method="post"><input type="hidden" name="pk" value="cpc_user_sign_up">
    <input type="hidden" name="act" value="0">
    <input type="hidden" name="purpose" value="0">
    <div class="purpose-row">
        <span class="cur">我要找工作</span><span class="">我要招聘</span>
    </div>
    <div class="form-row row-select">
        <span class="dropdown-select"><i class="icon-select-arrow"></i><em class="text-select">+86</em><input type="hidden" name="regionCode" value="+86"></span>
        <span class="ipt-wrap"><i class="icon-sign-phone"></i><input type="tel" class="ipt ipt-phone required" placeholder="手机号" name="phone"></span>
        <div class="dropdown-menu">
            
            <ul>
                <li data-val="+86"><span class="num">+86</span>中国大陆</li>
                <li data-val="+1"><span class="num">+1</span>美国</li>
                <li data-val="+852"><span class="num">+852</span>香港</li>
                <li data-val="+81"><span class="num">+81</span>日本</li>
                <li data-val="+886"><span class="num">+886</span>台湾</li>
                <li data-val="+44"><span class="num">+44</span>英国</li>
                <li data-val="+82"><span class="num">+82</span>韩国</li>
                <li data-val="+33"><span class="num">+33</span>法国</li>
                <li data-val="+7"><span class="num">+7</span>俄罗斯</li>
                <li data-val="+39"><span class="num">+39</span>意大利</li>
                <li data-val="+65"><span class="num">+65</span>新加坡</li>
                <li data-val="+63"><span class="num">+63</span>菲律宾</li>
                <li data-val="+60"><span class="num">+60</span>马来西亚</li>
                <li data-val="+64"><span class="num">+64</span>新西兰</li>
                <li data-val="+34"><span class="num">+34</span>西班牙</li>
                <li data-val="+95"><span class="num">+95</span>缅甸</li>
                <li data-val="+230"><span class="num">+230</span>毛里求斯</li>
                <li data-val="+263"><span class="num">+263</span>津巴布韦</li>
                <li data-val="+20"><span class="num">+20</span>埃及</li>
                <li data-val="+92"><span class="num">+92</span>巴基斯坦</li>
                <li data-val="+880"><span class="num">+880</span>孟加拉国</li>
            </ul>
        </div>
    </div>
    <div class="form-row row-code">
        <span class="cell-wrap"><i class="icon-sign-code"></i><input type="text" class="ipt ipt-code" name="captcha" ka="signin-code" maxlength="4" placeholder="验证码" data-url="/captcha/randkey.json"></span><span class="cell-wrap"><img src="./signup_files/saved_resource" class="verifyimg"></span>
        <input type="hidden" name="randomKey" class="randomkey" value="1y046Yed0nk3PdIneV4Bzeb7tg002ft3">
    </div>
    <div class="form-row">
        <span class="ipt-wrap"><i class="icon-sign-sms"></i><input type="text" class="ipt ipt-sms required" ka="signup-sms" placeholder="短信验证码" name="phoneCode" maxlength="4"><input type="hidden" name="smsType" value="2"><button type="button" class="btn btn-sms" data-url="/registe/sendSms.json">发送验证码</button></span>
    </div>
    <div class="form-btn">
        <button type="submit" class="btn">注册</button>
    </div>
    <div class="text-tip">
        <div class="agreement-tip"><label><input type="checkbox" checked="checked">同意BOSS直聘 <a href="https://www.zhipin.com/register/protocol/introduce" target="_blank">用户协议及隐私政策</a></label></div>
        已有账号 <a href="javascript:;" class="link-signin">直接登录</a></div>
</form>


{include file="t2" /}
<script src="/static/home/js/jquery-1.12.2.min.js"></script>
<script src="/static/home/js/main.js"></script>
</body>
</html>