{extend name="public:base"/}
{block name="main"}
<div id="main" class="inner home-inner">
    <div class="account-container">
        <div class="set-page">
            <div class="set-nav">
                <div class="account-manager">账户管理</div>
                <ul>
                    <a href="/employer/info">
                        <li>个人信息</li>
                    </a>
                    <a href="/employer/add">
                        <li>发布工作</li>
                    </a>
                    <a href="/employer/index">
                        <li>已发布工作</li>
                    </a>
                    <a href="/employer/reindex">
                        <li>已收简历</li>
                    </a>
                    <a href="/employer/editphone">
                        <li>手机号码</li>
                    </a>
                    <a href="/employer/editpwd">
                        <li>密码管理</li>
                    </a>
                    <a href="/employer/companyindex">
                        <li class="cur">公司</li>
                    </a>
                </ul>
            </div>
    
            <div class="" style="margin-left: 300px;width: 800px">
                <div class="resume-item resume-item-open" id="resume-userinfo">
            
                    <div class="item-form"><form action="/geek/user/save.json" method="post" class="form-resume">
                        <input type="hidden" name="id" value="">
                        <h3 class="title">公司信息</h3>
                        <div class="form-row">
                            <dl>
                                <dt>简称(品牌) <span class="gray"></span></dt>
                                <dd><input type="text" disabled class="ipt required" placeholder=""  data-blank="" data-format="" maxlength="24" ka="et-uname" name="name" value="{$row['name'] ?? ''}"></dd>
                            </dl>
                            <dl>
                                <dt>品牌全称</dt>
                                <dd>
                            
                                    <input type="text" disabled class="ipt required" placeholder="" data-blank="" data-format="" maxlength="24" ka="et-uname" name="fullname" value="{$row['fullname']??''}">
                                </dd>
                            </dl>
                        </div>
                        <div class="form-row">
                            <dl>
                                <dt>公司背景图</dt>
                                <dd><img name="bg" src="{$row['bgs']??''}" alt=""></dd>
                            </dl>
                            <dl>
                                <dt>品牌</dt>
                                <dd><img name="logo" src="{$row['logos']??''}" alt=""></dd>
                            </dl>
                        </div>
                        <div class="form-row">
                            <dl>
                                <dt>融资情况</dt>
                                <dd>
                                    <input type="text" disabled class="ipt required" placeholder="" data-blank="" data-format="" maxlength="24" ka="et-uname" name="financing" value="{$row['financing']??''}">
                                </dd>
                            </dl>
                            <dl>
                                <dt>供职人数</dt>
                                <dd><input name="employees" disabled value="{$row['employees']??''}" type="text" class="ipt" placeholder="" data-range="0,50" data-blank="" data-format="" maxlength="50"></dd>
                            </dl>
                        </div>
                        <div class="form-row">
                            <dl>
                                <dt>所在行业</dt>
                                <dd><input type="text" disabled class="ipt required" placeholder=""  data-blank="" data-format="" maxlength="24" ka="et-uname" name="industry" value="{$row['industry']??''}"></dd>
                            </dl>
                            <dl>
                                <dt>公司地址</dt>
                                <dd><input name="addr" disabled value="{$row['addr']??''}" type="text" class="ipt" placeholder="" data-range="0,50" data-blank="" data-format="" maxlength="50"></dd>
                            </dl>
                
                        </div>
 

                        <div class="form-row">
                            
                            <dl>
                                <dt>官网</dt>
                                <dd><input type="text" disabled class="ipt required" placeholder=""  data-blank="" data-format="" maxlength="24" ka="et-uname" name="homepage" value="{$row['homepage']??''}"></dd>
    
                            </dl>
                            
                        </div>
                        <div class="form-row">
                            <dl>
                                <dt>高管名</dt>
                                <dd>
                                    <input type="text" disabled class="ipt required" placeholder=""  data-blank="" data-format="" maxlength="24" ka="et-uname" name="ce_name" value="{$row['ce_name']??''}">
                                </dd>
                            </dl>
                
                        </div>
                        
                        <div class="form-row">
                            <dl>
                                <dt>高管履历</dt>
                                <dd>
                                    <input type="text" disabled class="ipt required" placeholder=""  data-blank="" data-format="" maxlength="24" ka="et-uname" name="profiles" value="{$row['cadf']??''}">
                                </dd>
                            </dl>
                            <div class="form-row" style="padding-bottom: 20px;float: right">
    
                                {empty name="$row"}
                                <a href="/employer/companyadd"><button class="btn btn-back" type="button" ka="user-resume-user-info-cancel">添加</button></a>
                                {/empty}
                                {notempty name="row"}
                                <a href="/employer/companyedit/id/{$info['co_id']}"><button class="btn vali_btn" type="button" ka="user-resume-user-info-ok">修改</button></a>
                                {/notempty}
                            </div>
                            <div class="form-row">
        
                                <dl>
                                    <dt>简介</dt>
                                    <dd><textarea disabled class="ipt ipt-datetimepicker " name="profile" id="" cols="30"
                                                  rows="10" required minlength="1" maxlength="1200">{$row['cf']??''}</textarea></dd>
        
                                </dl>
    
                            </div>
                        </div>
                        
                        
                    </form></div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}