{extend name="public:base"/}
{block name="main"}
<div id="main" class="inner home-inner">
    <div class="account-container">
        <div class="set-page">
            <div class="set-nav">
                <div class="account-manager">账户管理</div>
                <ul>
                    <a href="/employer/info">
                        <li>个人信息</li>
                    </a>
                    <a href="/employer/add">
                        <li class="cur">发布工作</li>
                    </a>
                    <a href="/employer/index">
                        <li>已发布工作</li>
                    </a>
                    <a href="/employer/reindex">
                        <li>已收简历</li>
                    </a>
                    <a href="/employer/editphone">
                        <li>手机号码</li>
                    </a>
                    <a href="/employer/editpwd">
                        <li>密码管理</li>
                    </a>
                    <a href="/employer/companyindex">
                        <li>公司</li>
                    </a>
                </ul>
            </div>
            
            <div class="" style="margin-left: 300px;width: 800px">
                <div class="resume-item resume-item-open" id="resume-userinfo">
                    
                    <div class="item-form">
                        <form action="/employer/insert" method="post" class="form-addjob data-form-resume"
                              data-form="form-addjob">
                            <!--<h3 class="title">招聘岗位</h3>-->
                            <div class="form-row">
                                <dl>
                                    <dt>* 工作名称 <span class="gray"></span></dt>
                                    <dd><input type="text" class="ipt required" required minlength="2" maxlength="30" ka="et-uname"
                                               name="job" value=""></dd>
                                </dl>
                                <dl>
                                    <dt>* 最底薪水</dt>
                                    <dd>
                                        <select name="salary" class="ipt">
                                            <option value="0">面议</option>
                                            <option value="1">1K</option>
                                            <option value="2">2K</option>
                                            <option value="3">3K</option>
                                            <option value="4">4K</option>
                                            <option value="5">5K</option>
                                            <option value="6">6K</option>
                                            <option value="7">7K</option>
                                            <option value="8">8K</option>
                                            <option value="9">9K</option>
                                            <option value="10">10K</option>
                                            <option value="11">11K</option>
                                            <option value="12">12K</option>
                                            <option value="13">13K</option>
                                            <option value="14">14K</option>
                                            <option value="15">15K</option>
                                            <option value="16">16K</option>
                                            <option value="17">17K</option>
                                            <option value="18">18K</option>
                                            <option value="19">19K</option>
                                            <option value="20">20K</option>
                                            <option value="21">21K</option>
                                            <option value="22">22K</option>
                                            <option value="23">23K</option>
                                            <option value="24">24K</option>
                                            <option value="25">25K</option>
                                            <option value="26">26K</option>
                                            <option value="27">27K</option>
                                            <option value="28">28K</option>
                                            <option value="29">29K</option>
                                            <option value="30">30K</option>
                                            <option value="31">31K</option>
                                            <option value="32">32K</option>
                                            <option value="33">33K</option>
                                            <option value="34">34K</option>
                                            <option value="35">35K</option>
                                            <option value="36">36K</option>
                                            <option value="37">37K</option>
                                            <option value="38">38K</option>
                                            <option value="39">39K</option>
                                            <option value="40">40K</option>
                                            <option value="41">41K</option>
                                            <option value="42">42K</option>
                                            <option value="43">43K</option>
                                            <option value="44">44K</option>
                                            <option value="45">45K</option>
                                            <option value="46">46K</option>
                                            <option value="47">47K</option>
                                            <option value="48">48K</option>
                                            <option value="49">49K</option>
                                            <option value="50">50K</option>
                                            <option value="60">60K</option>
                                            <option value="70">70K</option>
                                            <option value="80">80K</option>
                                            <option value="90">90K</option>
                                            <option value="100">100K</option>
                                            <option value="110">110K</option>
                                            <option value="120">120K</option>
                                            <option value="130">130K</option>
                                            <option value="140">140K</option>
                                            <option value="150">150K</option>
                                            <option value="160">160K</option>
                                            <option value="170">170K</option>
                                            <option value="180">180K</option>
                                            <option value="190">190K</option>
                                            <option value="200">200K</option>
                                            <option value="210">210K</option>
                                            <option value="220">220K</option>
                                            <option value="230">230K</option>
                                            <option value="240">240K</option>
                                            <option value="250">250K</option>
                                        </select>
                                    </dd>
                                </dl>
                            
                            
                            </div>
                            <div class="form-row">
                                <dl>
                                    <dt>* 职业类型</dt>
                                    <dd class="pos">
                                        <div class=" position-sel ipt" style="border: 1px solid #e3e7ed;float: none;">
                                            <span class="label-text">
                                                 <b>职位类型</b>
                                                <i class="icon-arrow-down"></i>
                                            </span>
                                        </div>
                
                                        <input type="hidden" name="position" class="position-code" value="">
                                        <div class="positionBox" style="display: none;">
                                            {include file="search:category" }
                                        </div>
                                    </dd>
                                </dl>
                            </div>
                            <div class="form-row">
                                <dl>
                                    <dt>* 所属城市</dt>
                                    <dd>
                                        <div class="search-box">
                                            <div class="search-form ">
                                                <div class="search-form-con">
                                                    <div class="city-sel ipt" style="border: 1px solid #e3e7ed;">
                                                        <span class="label-text">
                                                            <b class="scityText">全国</b>
                                                            <i class="icon-arrow-down"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                                <input type="hidden" name="scity" class="city-code" value="">
                        
                                                {include file="search:city_box" }
                                            </div>
                                        </div>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>* 所在行业</dt>
                                    <dd>
                                        <select name="industry" class="ipt">
                                            <option value=""><a href="javascript:;">不限</a></option>
                                            <option value="100001"><a href="javascript:;">电子商务</a></option>
                                            <option value="100002"><a href="javascript:;">游戏</a></option>
                                            <option value="100003"><a href="javascript:;">媒体</a></option>
                                            <option value="100004"><a href="javascript:;">广告营销</a></option>
                                            <option value="100005"><a href="javascript:;">数据服务</a></option>
                                            <option value="100006"><a href="javascript:;">医疗健康</a></option>
                                            <option value="100007"><a href="javascript:;">生活服务</a></option>
                                            <option value="100008"><a href="javascript:;">O2O</a></option>
                                            <option value="100009"><a href="javascript:;">旅游</a></option>
                                            <option value="100010"><a href="javascript:;">分类信息</a></option>
                                            <option value="100011"><a href="javascript:;">音乐/视频/阅读</a></option>
                                            <option value="100012"><a href="javascript:;">在线教育</a></option>
                                            <option value="100013"><a href="javascript:;">社交网络</a></option>
                                            <option value="100014"><a href="javascript:;">人力资源服务</a></option>
                                            <option value="100015"><a href="javascript:;">企业服务</a></option>
                                            <option value="100016"><a href="javascript:;">信息安全</a></option>
                                            <option value="100018"><a href="javascript:;">智能硬件</a></option>
                                            <option value="100019"><a href="javascript:;">移动互联网</a></option>
                                            <option value="100020"><a href="javascript:;">互联网</a></option>
                                            <option value="100021"><a href="javascript:;">计算机软件</a></option>
                                            <option value="100024"><a href="javascript:;">通信/网络设备</a></option>
                                            <option value="100101"><a href="javascript:;">广告/公关/会展</a></option>
                                            <option value="100206"><a href="javascript:;">互联网金融</a></option>
                                            <option value="100502"><a href="javascript:;">物流/仓储</a></option>
                                            <option value="100504"><a href="javascript:;">贸易/进出口</a></option>
                                            <option value="100601"><a href="javascript:;">咨询</a></option>
                                            <option value="100702"><a href="javascript:;">工程施工</a></option>
                                            <option value="100801"><a href="javascript:;">汽车生产</a></option>
                                            <option value="101304"><a href="javascript:;">其他行业</a></option>
                
                                        </select>
                                    </dd>
                                </dl>
                            </div>
                            <div class="form-row">
                                <dl>
                                    <dt>* 要求经验年龄</dt>
                                    <dd>
                                        <div class="gray"><input type="text" name="experience" class="ipt required"
                                                                 value="" required minlength="1" maxlength="10"></div>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>* 要求学历</dt>
                                    <dd>
                                        <div class="gray">
                                            <input type="text" name="degree" class="ipt required" value="" required
                                                   minlength="2" maxlength="10">
                                        
                                        
                                        </div>
                                    </dd>
                                </dl>
                            </div>
                            <div class="form-row">
                                <dl>
                                    <dt>职位标签</dt>
                                    <dd><input name="tags" ka="email_edit" value="" type="text" class="ipt"
                                                data-range="0,40" data-blank=""
                                               
                                                minlength="2" maxlength="20"></dd>
                                </dl>
                                <dl>
                                    <dt>* 工作地址</dt>
                                    <dd><input name="address" ka="email_edit" value="" type="text" class="ipt"
                                                data-range="0,40" data-blank=""
                                               
                                               required minlength="2" maxlength="50"></dd>
                                </dl>
                            </div>
                            <div class="form-row">
                            </div>
                            <div class="form-row">
                                <dl>
                                    <dt>* 职位描述</dt>
                                    <dd>
                                        
                                        <!--<input type="text" class="ipt ipt-datetimepicker " data-blank="" name="job_descr"-->
                                        <!--value="" required minlength="2" maxlength="100">-->
                                        <textarea class="ipt ipt-datetimepicker " name="job_descr" id="" cols="30"
                                                  rows="10" required minlength="1" maxlength="300"></textarea>
                                    
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>* 团队介绍</dt>
                                    <dd><textarea class="ipt ipt-datetimepicker " name="team_descr" id="" cols="30"
                                                  rows="10" required minlength="1" maxlength="100" required
                                                  minlength="2" maxlength="300"></textarea></dd>
                                </dl>
                            </div>
                            
                            
                            <div class="form-row" style="margin-left: 550px">
                                <input type="hidden" name="id" value="">
                                <button class="btn vali_btn" type="submit" ka="user-resume-user-info-ok">完成</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
</div>

{/block}