{extend name="adminpublic:public"/}

{block name="admin"}
 <div class="mws-panel grid_8"> 
   <div class="mws-panel-header"> 
    <span><i class="icon-table"></i> 品牌列表</span>
   </div>
  <div class="mws-panel-body no-padding">
   <div id="DataTables_Table_1_wrapper" class="dataTables_wrapper" role="grid">
    <form action="/adminuser/index" method="get">
     <div class="dataTables_filter" id="DataTables_Table_1_filter">
      <label>Search:
       <input type="text" aria-controls="DataTables_Table_1" name="keywords" value=""></label>
      <input type="submit" value="搜索">
     </div>
    </form>
    <table class="mws-datatable-fn mws-table dataTable" id="DataTables_Table_1" aria-describedby="DataTables_Table_1_info">
     <thead>
       <tr role="row">
        <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 113px;">ID</th>
        <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 113px;">全称</th>
        <!--<th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 169px;">密码</th>-->
        <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 113px;">品牌logo</th>
        <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 113px;">官网</th>
        <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 113px;">操作</th>
       </tr> 
      </thead> 
      <tbody role="alert" aria-live="polite" aria-relevant="all">
      {foreach name="company" item="row"}
       <tr class="odd"> 
        <td class=" sorting_1">{$row['id']}</td> 
        <td class=" ">{$row['fullname']}</td>
        <td class=" "><img src="{$row['logos']}"></td>
        <td class=" ">{$row['homepage']}</td>
        
        <td class=" "><a href="/company/edit/id/{$row['id']}" class="btn btn-success">查看详情</a> <a href="/company/delete/id/{$row['id']}" class="btn btn-danger">删除</a></td>
       </tr>
      {/foreach}
      </tbody>
     </table>
    <!--分页-->
    <div class="dataTables_paginate paging_full_numbers" id="pages">
     </div>
    </div> 
   </div> 
  </div>
{/block}
{block name="title"}品牌列表{/bolic}
